.card {
  width: 300px; 
  min-height: 100px;  
  max-height: 400px;  
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: transform 0.3s;
  overflow: hidden;  
}

.card-content p {
 
  overflow: hidden;
  word-wrap: break-word;  
}


.card:hover {
  transform: scale(1.05);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h4 {
  margin-left: 10px;
  margin-bottom: 5px;
}

.card-content .content-with-icon {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tag {
  display: inline-block;
  background-color: white;
  font-size: 0.9rem;
  margin-top: 5px;
}

.body {
  background-color: aliceblue;
}

.profile {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: black;
}

.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: orange;
}

.profile-status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.profile-margin {
  margin-left: 30px;
}

.status-icon, .more-icon, .dot-icon, .icon {
  font-size: 1rem;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.dot-feature {
  color: grey;
}
